.mainInvite {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0 24px;
  width: 100;
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.inviteImage {
  width: 90vw
}

.line {
  border-top: 3px solid #71dee7;
  width: 100%;
  margin: 18px 0
}

.listOfStuff {
  text-align: start;
}

.orgs {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

ul {
  padding-inline-start: 16px;
}

li {
  padding-top: 4px
}

@media screen and (min-width: 1147px) {
 
  .mainInvite {
    flex-direction: row;
    align-items: flex-start;
    
  }

  .inviteImage {
    height: 615px;
    width: 440px
  }


  ul {
    padding-inline-start: 36px;
  }

  .orgs {
    padding-bottom: 0px
  }

}
